@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
  font-family: Poppins, "sans-serif";
}
/*  */

.b-bawah{
  opacity: 0.01;
}

.b-ijo:hover{
  color: green;
  opacity: 1;
}

.b-ijo:hover svg{
  background: #15a00030;
}
.b-merah:hover svg{
  background: #db3f4730;
}

.b-merah:hover{
  color: red;
  opacity: 1;
}

.p-atas:hover .b-bawah{
  opacity: 0.6;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .navlink{
    @apply opacity-70 hover:opacity-100 hover:font-medium;
  }
}

